<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009194754818-454kk22q7pm2otj9k4dr5alfrfu3cjpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009194754818-454kk22q7pm2otj9k4dr5alfrfu3cjpg</string>
	<key>API_KEY</key>
	<string>AIzaSyBFWKn4vII26I6uv3_jDUEZwIw7SJPYkcE</string>
	<key>GCM_SENDER_ID</key>
	<string>1009194754818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.receitas</string>
	<key>PROJECT_ID</key>
	<string>saudetocantins-fe075</string>
	<key>STORAGE_BUCKET</key>
	<string>saudetocantins-fe075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009194754818:ios:69fd7f7a61cf1fa1b4981b</string>
</dict>
</plist>